body {
  font-family: 'Varela', sans-serif;
  font-size: 13px;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: 0;
}

button:focus-visible {
  box-shadow: 0 0 0 2px #006782;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.app-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  padding: 32px;
}

.app-wrap__title {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 38px;
  font-weight: 500;
  color: #FFA;
  margin: 0;
}

.todo-list-wrap {
  background:
  linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 200% 200%;
  background-color: #840b2a;
  animation: background-gradient 60s linear infinite;
}

@keyframes background-gradient {
  0%, 100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.todo-list {
  min-width: 500px;
  min-height: 40px;
  max-height: 80vh;
  padding: 16px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5); 
  transition: height .2s linear;
  overflow-y: auto;
  box-shadow: 0 0 20px 9px rgba(0, 0, 0, .2);
}

.create-todo {
  display: flex;
  align-items: center;
}

.create-todo__holder {
  display: none;
  direction: row;
  align-items: center;
}

.create-todo__holder--show {
  display: flex;
}

.create-todo__add {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  padding: 0;
  background-color: transparent;
  background-image: url('../img/add.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;;
  background-position: center;
  transition: transform .3s;
  transition-delay: .2s;
}

.create-todo__add:hover,
.create-todo__add:focus {
  transform: rotate(360deg);
}

.create-todo__add:hover + .create-todo__title,
.create-todo__add:focus + .create-todo__title {
  background-size: 100%;
}

.create-todo__title {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 28px;
  color: transparent;
  background-image: linear-gradient(#006782, #006782);
  background-repeat: no-repeat;
  background-size: 0%;
  transition: background-size .2s ease-in;
  transition-delay: .2s;
}

.create-todo__input {
  display: none;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 0;
}

.create-todo__input--show {
  display: flex;
  animation: input-show .3s linear forwards;
}

@keyframes input-show {
  50% {
    width: 90%;
  }

  100% {
    width: 100%;
    overflow: visible;
  }
}

.create-todo__text {
  font-size: 28px;
  line-height: 37px;
  margin-right: 8px;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #005;
  color: #005;
  flex-grow: 1;
  outline: 0;
}

.create-todo__submit {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  background-image: url('../img/forward.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;;
  background-position: center;
  transform: rotate(90deg);
  flex-shrink: 0;
}

.create-todo__submit:hover,
.create-todo__submit:focus {
  animation: shake 1s linear infinite;
}

@keyframes shake {
  25% {
    transform: rotate(90deg) translateX(-4px);
  }

  75% {
    transform: rotate(90deg) translateX(4px);
  }
}

.todo-list__inner {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list-item {
  display: grid;
  grid-template-columns: 44px 1fr 60px;
  font-size: 24px;
  width: 500px;
  margin-top: 16px;
  animation: todo-add .2s linear forwards;
}

@keyframes todo-add {
  from {
    margin-top: 0;
  }
}

.list-item:hover .list-item__remove {
  opacity: 1;
}

.list-item__text {
  background-image: linear-gradient(#005, #005);
  background-size: 0 2px;
  background-position: 0 calc(50% + 2px);
  background-repeat: no-repeat;
  word-break: break-all;
  color: #005;
  transition: background-size .2s linear, opacity .2s linear;
}

.list-item__img {
  position: relative;
  height: 0;
  width: 0;
}

.list-item__img:before,
.list-item__img:after {
  position: absolute;
  content: '';
  display: block;
  cursor: pointer;
}

.list-item__img:before {
  top: 2px;
  left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: solid 3px #006782;
}

.list-item__img:after {
  content: none;
  bottom: -16px;
  right: -33px;
  width: 24px;
  height: 16px;
  border-top: solid 4px #006782;
  border-right: solid 4px #006782;
  transform: rotate(128deg);
}

.list-item__mark:checked + .list-item__img:after {
  content: '';
}

.list-item__mark:checked ~ .list-item__text-wrap .list-item__text {
  background-size: 100% 2px;
  opacity: .6;
}

.list-item__remove {
  justify-self: end;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../img/delete.svg');
  background-repeat: no-repeat;
  background-size: 28px 28px;;
  background-position: center;
  opacity: 0;
  transition: opacity .2s ease-in;
}

.list-item__remove:hover {
  animation: remove-shake .1s linear 4;
}

@keyframes remove-shake {
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}